<%- include('partials/header') %>

<div class="contactus-square">
  <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>


<div class="about-us-design">
    <h1 class="the-team-heading">ABOUT US</h1>
</div>
<div class="about-img-box">
  <img src="studio.jpg" class="about-img" alt="mphotography studio">
</div>

<div class="about-text container">
  <p class="about-text-inner"><span id="about-span">Lorem ipsum</span> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<hr class="line-art" />


</div>

<%- include('partials/footer') %>
