<%- include('partials/header') %>

    <div class="contactus-square">
      <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>

      <div class="design-outer">
        <div class="design">
          <div class="design-inner">
    <h1 class="contactus-heading">Contact Us</h1>
          </div>

        </div>
      </div>


  <h2 class="contactus-photography">M PHOTOGRAPHY</h2>
  <div class="contactus-elements">
    <h4 class="contactus-description">Phopnar</h4>
    <h4 class="contactus-description">Dist. Burhanpur (M.P.)</h4>
    <h4 class="contactus-description">450445</h4>
    <h4 class="contactus-description">Mobile: +91 87281 61200</h4>
    <h4 class="contactus-description">e-mail: mphotography@gmail.com</h4>
  </div>
<div class="social-icons">
  <a href="https://www.facebook.com/Prajwalmahajan44/"><img class="social-icons-elements" src="fb.png" alt="facebook"></a>
  <a href="https://www.instagram.com/mphotography0_"><img class="social-icons-elements"src="insta.png" alt="insta"></a>
  <a href="#"><img class="social-icons-elements"src="twitter.png" alt="twitter"></a>
  <a href="https://www.youtube.com/channel/UCEx9SVm_NIm74DNaMHXqsIQ"><img class="social-icons-elements"src="youtube.png" alt="youtube"></a>
</div>

<hr class="line-art contactus-line-art" />

<!--  <hr class="style-border"> -->
<div class="developer">
  <h3 class="rushi">Developer Contact</h3>
  <h3 class="rushi-inner">Rushikesh Patil</h3>
  <a target="_blank" href="https://rushikeshp110.github.io/mypersonalsite/"><img src="rushi logo.png" class="my-logo"alt="my logo"></a>
</div>
<div class="copy-right">
  <h3 class="copy-right-text">Copyright © 2020</h3>
</div>
</div>


<%- include('partials/footer') %>
