<%- include('partials/header') %>

    <div class="contactus-square">
      <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>

      <div class="design-outer">
        <div class="design">
          <div class="design-inner">
    <h1 class="contactus-heading">Contact Us</h1>
          </div>

        </div>
      </div>


  <h2 class="contactus-photography">M PHOTOGRAPHY</h2>
  <div class="contactus-elements">
    <h4 class="contactus-description">Phopnar</h4>
    <h4 class="contactus-description">Dist. Burhanpur (M.P.)</h4>
    <h4 class="contactus-description">450445</h4>
    <h4 class="contactus-description">Mobile: +91 87281 61200</h4>
    <h4 class="contactus-description">e-mail: mphotography@gmail.com</h4>
  </div>
<div class="social-icons">
  <a href="https://www.facebook.com/Prajwalmahajan44/"><img class="social-icons-elements" src="fb.png" alt="facebook"></a>
  <a href="https://www.instagram.com/mphotography0_"><img class="social-icons-elements"src="insta.png" alt="insta"></a>
  <a href="#"><img class="social-icons-elements"src="twitter.png" alt="twitter"></a>
  <a href="https://www.youtube.com/channel/UCEx9SVm_NIm74DNaMHXqsIQ"><img class="social-icons-elements"src="youtube.png" alt="youtube"></a>
</div>

<h1 class="find-us">FIND US</h1>
<div class="my-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d739.4581578605582!2d76.32800374656252!3d21.235677335963757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd9d3afde351919%3A0xe7174020280b7992!2zMjHCsDE0JzA3LjciTiA3NsKwMTknMzguOSJF!5e0!3m2!1sen!2sin!4v1593144164883!5m2!1sen!2sin"
   width="670" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

<hr class="line-art contactus-line-art" />




<!--  <hr class="style-border"> -->
<div class="developer">
  <h3 class="rushi">Developer Contact</h3>
  <h3 class="rushi-inner">Rushikesh Patil</h3>
  <a target="_blank" href="https://rushikeshp110.github.io/mypersonalsite/"><img src="rushi logo.png" class="my-logo"alt="my logo"></a>
</div>
<div class="copy-right">
  <h3 class="copy-right-text">Copyright © 2020</h3>
</div>
</div>


<%- include('partials/footer') %>
