<%- include('partials/header') %>

<div class="wed-frame-back">
  <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>

</div>

<div class="container pot-box">
  <div class="row">
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="po1.jpg" alt="">
    </div>
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="po2.jpg" alt="">
    </div>
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="po3.jpg" alt="">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="po4.jpg" alt="">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="po5.jpg" alt="">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="po6.jpg" alt="">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="po7.jpg" alt="">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="po8.jpg" alt="">
    </div>
  </div>
</div>








<%- include('partials/footer') %>
