<%- include('partials/header') %>

<div class="contactus-square">
  <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>


<div class="the-team-design">
    <h1 class="the-team-heading">The Team</h1>
</div>

<div class="team-card">
  <div class="team-card-img">
<img class="the-tem-img-edit" src="model1.jpg" alt="girl">
  </div>
  <div class="mixed-card">
    <div class="team-card-name">
  <h1 class="team-card-character-name">Sansa Stark</h1>
  <h1 class="team-card-character-task">Photographer</h1>
    </div>
    <div class="team-card-links">
      <img class="social-icons-elements" src="fb.png" alt="facebook">
      <img class="social-icons-elements"src="insta.png" alt="insta">
    </div>
  </div>

</div>
<hr class="line-art" />

<div class="team-card">
  <div class="team-card-img">
<img class="the-tem-img-edit" src="model2.jpg" alt="girl">
  </div>
  <div class="mixed-card">
    <div class="team-card-name">
  <h1 class="team-card-character-name">cersei lannister</h1>
  <h1 class="team-card-character-task">cinemetographer</h1>
    </div>
    <div class="team-card-links">
      <img class="social-icons-elements" src="fb.png" alt="facebook">
      <img class="social-icons-elements"src="insta.png" alt="insta">
    </div>
  </div>

</div>

<hr class="line-art" />

<div class="team-card card3">
  <div class="team-card-img">
<img class="the-tem-img-edit" src="model5.jpg" alt="girl">
  </div>
  <div class="mixed-card">
    <div class="team-card-name">
  <h1 class="team-card-character-name">lyana martell</h1>
  <h1 class="team-card-character-task">cinemetographer</h1>
    </div>
    <div class="team-card-links">
      <img class="social-icons-elements" src="fb.png" alt="facebook">
      <img class="social-icons-elements"src="insta.png" alt="insta">
    </div>
  </div>

</div>

</div>

<%- include('partials/footer') %>
