<%- include('partials/header') %>

<div class="wed-frame-back">
  <a href="home"><img src="back.png" class="back-arrow" alt="back to home page m photography"></a>

</div>

<div class="container pot-box">
  <div class="row">
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="wed1.jpg" alt="mphotography">
    </div>
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="wed5.jpg" alt="mphotography">
    </div>
    <div class="col-sm pot-b col-lg-6">
      <img class="pot-img" src="wed3.jpg" alt="mphotography">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="wed4.jpg" alt="mphotography">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="wed2.jpg" alt="mphotography">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="pwd1.jpg" alt="mphotography">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="pwd4.jpg" alt="mphotography">
    </div>
    <div class="col-sm col-lg-6">
      <img class="pot-img" src="pwd2.jpg" alt="mphotography">
    </div>
  </div>
</div>








<%- include('partials/footer') %>
